# Auto detect text files and perform LF normalization
* text=auto

# Use Git LFS for Unreal binary assets under Content/PCG
Content/PCG/** filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
